/* #section:before {
    content: "";
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    background-color: rgba(13, 13, 13, 0.9);
} */

.section {
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    min-height: 600px;
    border: 1px solid white;
}

#bio {
    border: none;
}

#miami, #sbd, #amazon {
    width: 500px;
}

#headshot {
    background-image: url("../images/about/JaylonVirgil_Headshot_Mar2023_Compressed.jpg");
}

#tudor {
    background-image: url("../images/about/TudorCity_Jul2025_Small-5-min.jpg");
}

#leather {
    background-image: url("../images/about/JaylonVirgil_24th_Nov2025_Edit-1-min.jpg");
}

#nyc {
    background-image: url("../images/about/JaylonVirgil_NYC_Dec2021.JPG");
}

#quote p {
    padding-bottom: 10px;
}
