.section {
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    border: 1px solid white;
}

#website {
    width: 960px;
    min-height: 540px;
}

#amazon1 {
    width: 700px;
    background-image: url("../images/compsci/amazon1.jpg");
}
#amazon2 {
    background-image: url("../images/compsci/amazon2.jpg");
}

