/* 
Alternate [Dark] Theme ------------------------------

#compsci {
    background-color: #0D0D0D;
}

.wrapper .main .toggle {
    color: white;
}

.wrapper.section {
    background-color: #0D0D0D;
    box-shadow: 0 5px 10px black;
} 

.wrapper.section.section-text {
    background-color: white;
}

-------------------------------------------------------
*/

.wrapper.section.section-text {
    background-color: #BFBFBF;
    box-shadow: 0 5px 10px darkgray inset;
}

/* #python {
    background-color: #D99F7E;
    color: black;
}

#html {
    background-color: #f06529;
}

#java {
    background-color: #5382a1;
} */

#dna-python {
    background-size: cover;
    background-image: url("../images/compsci/DNAseq_Python_Filter.jpg");
    background-position: bottom;
    background-repeat: no-repeat;
}
