.page-nav {
    font-size: 18px;
    color: #0D0D0D;
    margin: 40px;
    text-align: center;
    word-spacing: 10px;
}

.page-nav a {
    color:  #0D0D0D;
}

.page-nav a:hover{
    font-weight: 600;
    transition: 0.35s;
}

.section-text {
    color: white !important;
    background-color: #0D0D0D !important;
}

#section-2 {
    background-size: cover;
    background-image: url("../images/design/art/BlackReniassance_Graphic_December2021_1080x1080px.jpg");
    background-position: top;
    background-repeat: no-repeat;
}

#section-3 {
    background-size: cover;
    background-image: url("../images/design/art/BlackReniassanceHands_Graphic_December2021_1080x1080px.jpg");
    background-position: top;
    background-repeat: no-repeat;
}

#section-10 {
    background-size: cover;
    background-image: url("../images/design/socialmedia/BounceBackSummer_Spring2022_SocialMedia1080x1080px_Cover.jpg");
    background-position: top;
    background-repeat: no-repeat;
}
