#photoshop {
    background-size: cover;
    background-image: url("../images/design/art/PhotoshopLevel_Animation.GIF");
    background-position: top;
    background-repeat: no-repeat;
}

#illustrator {
    background-size: cover;
    background-image: url("../images/design/art/IlustratorLevel_Animation.GIF");
    background-position: top;
    background-repeat: no-repeat;
}

#indesign {
    background-size: cover;
    background-image: url("../images/design/art/IndesignLevel_Animation.GIF");
    background-position: top;
    background-repeat: no-repeat;
}

#after-effects {
    background-size: cover;
    background-image: url("../images/design/art/AfterEffectsLevel_Animation.jpg");
    background-position: top;
    background-repeat: no-repeat;
}

#premiere-pro {
    background-size: cover;
    background-image: url("../images/design/art/PremiereProLevel_Animation.jpg");
    background-position: top;
    background-repeat: no-repeat;
}

#section-2 {
    background-size: cover;
    box-shadow: 0 5px 10px black inset;
    background-image: url("../images/design/art/BlackReniassance_Graphic_December2021_1080x1080px.jpg");
    background-position: top;
    background-repeat: no-repeat;
}

#section-3 {
    background-size: cover;
    background-image: url("../images/design/art/BlackReniassanceHands_Graphic_December2021_1080x1080px.jpg");
    background-position: top;
    background-repeat: no-repeat;
}

#section-10 {
    background-size: cover;
    background-image: url("../images/design/socialmedia/BounceBackSummer_Spring2022_SocialMedia1080x1080px_Cover.jpg");
    background-position: top;
    background-repeat: no-repeat;
}

#vibe {
    background-size: cover;
    background-image: url("../images/design/socialmedia/CatchAVibe_Graphic_December2021_1080x1080px.jpg");
    background-position: top;
    background-repeat: no-repeat;
}

#chill-island {
    background-size: cover;
    background-image: url("../images/design/socialmedia/ChillIslandVibes_PlaylistCover_May2022_2100x2100px.jpg");
    background-position: top;
    background-repeat: no-repeat;
}

#jersey-city {
    background-size: cover;
    /* box-shadow: 0 5px 10px #0D0D0D inset; */
    background-image: url("../images/design/corporate/VoteTodayJerseyCity.jpg");
    background-position: top;
    background-repeat: no-repeat;
}

#martha {
    background-size: cover;
    background-image: url("../images/design/corporate/AdLaunchDate_DISPLAY_MARTHAMUGLER_1080x1080.jpg");
    background-position: top;
    background-repeat: no-repeat;
}

#fourth-july {
    width: 800px;
    background-size: cover;
    background-image: url("../images/design/corporate/UFCW_4thJuly_AnimatedGraphic_1200x630px_v2.GIF");
    background-position: top;
    background-repeat: no-repeat;
}

#ufcw-wide {
    width: 800px;
    background-size: cover;
    background-image: url("../images/design/corporate/UFCW_PROActGraphics_1200x630px_3-2.jpg");
    background-position: top;
    background-repeat: no-repeat;
}

#maintain-distance {
    width: 500px;
    background-size: cover;
    background-image: url("../images/design/corporate/MaintainASafeDistance_Graphic_11x8.5in.jpg");
    background-position: top;
    background-repeat: no-repeat;
}

#stop-pollutors {
    background-size: cover;
    box-shadow: 0 5px 10px darkgray inset;
    background-image: url("../images/design/socialmedia/STOP.gif");
    background-position: top;
    background-repeat: no-repeat;
}
