.section {
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    height: 600px;
    border: 1px solid white;
}

#la, #miami, #nyc, #dc {
    width: 400px;
    border: none;
}

/* CENTRAL PARK FALL */
#centralpark1 { background-image: url("../images/photography/CentralParkFall_Oct2024_Edit-1-min.jpg");}
#centralpark2 { background-image: url("../images/photography/CentralParkFall_Oct2024_Edit-2-min.jpg");}
#centralpark3 { background-image: url("../images/photography/CentralParkFall_Oct2024_Edit-3-min.jpg");}

/* UPTOWN FALL */
#uptown1 { background-image: url("../images/photography/UptownFall_Oct2025_Edit-1-min.jpg");}
#uptown2 { background-image: url("../images/photography/UptownFall_Oct2025_Edit-2-min.jpg");}
#uptown3 { background-image: url("../images/photography/UptownFall_Oct2025_Edit-3-min.jpg");}

/* MANHATTAN BRIDGE */
#manhattan1 { background-image: url("../images/photography/ManhattanBridge_Apr2025_Edit-1-min.jpg");}
#manhattan2 { background-image: url("../images/photography/ManhattanBridge_Apr2025_Edit-2-min.jpg");}
#columbus { background-image: url("../images/photography/ColumbusCircle_Mar2025_min.jpg");}
#radio-city { background-image: url("../images/photography/RadioCity_Nov2024_Edit-1-min.jpg");}
#rockefeller { background-image: url("../images/photography/Rockefeller_Nov2024_Edit-1-min.jpg");}
#subway { background-image: url("../images/photography/145st-Subway_Apr2025_Edit-1-min.jpg");}

/* SNOWSTORM */
#snowstorm1 { background-image: url("../images/photography/Snowstorm_Jan2026_Compressed-1-min.jpg");}
#snowstorm2 { background-image: url("../images/photography/Snowstorm_Jan2026_Compressed-2-min.jpg");}
#snowstorm3 { background-image: url("../images/photography/Snowstorm_Jan2026_Compressed-3-min.jpg");}
#snowstorm4 { background-image: url("../images/photography/Snowstorm_Jan2026_Compressed-4-min.jpg");}

/* TUDOR */
#tudor1 { background-image: url("../images/photography/TudorCity_Jul2025_Small-4-min.jpg"); }
#tudor2 { background-image: url("../images/photography/TudorCity_Jul2025_Small-1-min.jpg"); }
#tudor3 { background-image: url("../images/photography/TudorCity_Jul2025_Small-7-min.jpg"); }
#tudor4 { background-image: url("../images/photography/TudorCity_Jul2025_Small-2-min.jpg"); }
#tudor5 { background-image: url("../images/photography/TudorCity_Jul2025_Small-3-min.jpg"); }

/* TUDOR */
#will1 { background-image: url("../images/photography/WilliamsburgBridge_Mar2025_Small-1-min.jpg"); }
#will2 { background-image: url("../images/photography/WilliamsburgBridge_Mar2025_Small-2-min.jpg"); }
#will3 { background-image: url("../images/photography/WilliamsburgBridge_Mar2025_Small-3-min.jpg"); }
#will4 { background-image: url("../images/photography/WilliamsburgBridge_Mar2025_Small-4-min.jpg"); }

/* DC */
#dc1 { background-image: url("../images/photography/JaylonVirgil_CherryBlossom_Mar2024-17_Compressed.jpg"); }
#dc2 { background-image: url("../images/photography/JaylonVirgil_CherryBlossom_Mar2024-08_Compressed.jpg"); }
#dc3 { background-image: url("../images/photography/JaylonVirgil_CherryBlossom_Mar2024-07_Compressed.jpg"); }
#dc4 { background-image: url("../images/photography/JaylonVirgil_CherryBlossom_Mar2024-25_Compressed.jpg"); }
#dc5 { background-image: url("../images/photography/JaylonVirgil_CherryBlossom_Mar2024-26_Compressed.jpg"); }
#dc6 { background-image: url("../images/photography/DC-Trip_Dec2025_Edit-1-min.jpg"); }

/* GFIFFITH */
#griff1 { background-image: url("../images/photography/JaylonVirgil_Griffith_July2023_Compressed-3.jpg"); }
#griff2 { background-image: url("../images/photography/JaylonVirgil_Griffith_July2023_Compressed-4.jpg"); }
#griff3 { background-image: url("../images/photography/JaylonVirgil_Griffith_July2023_Compressed-5.jpg"); }
#griff4 { background-image: url("../images/photography/JaylonVirgil_Griffith_July2023_Compressed-6.jpg"); }
#la1 { background-image: url("../images/photography/JaylonVirgil_LA_Jul2023_Compressed-1.jpg"); }

/* MIAMI */
#miami1 { background-image: url("../images/photography/JaylonVirgil_Miami_Mar2023_Compressed-1.jpg"); }
#miami2 { background-image: url("../images/photography/MiamiTrip_Jan2026_Compressed-2-min.jpg"); }
#miami3 { background-image: url("../images/photography/MiamiTrip_Jan2026_Compressed-1-min.jpg"); }

/* NYC */
#nyc1 { background-image: url("../images/photography/JaylonVirgil_NYC_Nov2023_Compressed-1.jpg"); }
#nyc2 { background-image: url("../images/photography/JaylonVirgil_NYC_Nov2023_Compressed-2.jpg"); }
#nyc3 { background-image: url("../images/photography/JaylonVirgil_NYC_Nov2023_Compressed-3.jpg"); }

/* RAE GRAD */
#raegrad1 { background-image: url("../images/photography/Rae_Grad_Dec2023-1.jpg"); }
#raegrad2 { background-image: url("../images/photography/Rae_Grad_Dec2023-2.jpg"); }
#raegrad5 { background-image: url("../images/photography/Rae_Grad_Dec2023-5.jpg"); }
#raegrad7 { background-image: url("../images/photography/Rae_Grad_Dec2023-7.jpg"); }

/* STEPHANIE */
#steph1 { background-image: url("../images/photography/Steph_Nov2023-1.jpg"); }
#steph2 { background-image: url("../images/photography/Steph_Nov2023-2.jpg"); }
#steph3 { background-image: url("../images/photography/Steph_Nov2023-3.jpg"); }
#steph4 { background-image: url("../images/photography/Steph_Nov2023-4.jpg"); }
#steph5 { background-image: url("../images/photography/Steph_Nov2023-5.jpg"); }
#steph6 { background-image: url("../images/photography/Steph_Nov2023-6.jpg"); }

/* RAE */
#rae1 { background-image: url("../images/photography/Rae_Mar2023-1.jpg"); }
#rae2 { background-image: url("../images/photography/Rae_Mar2023-2.jpg"); }
#rae3 { background-image: url("../images/photography/Rae_Mar2023-3.jpg"); }

/* SANAA */
#sanaa1 { background-image: url("../images/photography/Sanaa_Bday_Dec2022-1.jpg"); }
#sanaa2 { background-image: url("../images/photography/Sanaa_Bday_Dec2022-2.jpg"); }
#sanaa3 { background-image: url("../images/photography/Sanaa_Bday_Dec2022-3.jpg"); }
#sanaa4 { background-image: url("../images/photography/Sanaa_Bday_Dec2022-4.jpg"); }